@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 15px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(233, 47%, 7%);
	padding: 20px 0;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	width: 80%;
	border-radius: 10px;
	background-color: hsl(244, 38%, 16%);
}
.img {
	width: 100%;
	background-color: hsl(277, 64%, 61%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.img img {
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.details {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
h1 {
	font-size: 2rem;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	padding-bottom: 10px;
}
h1 span {
	color: hsl(277, 64%, 61%);
}
.details > p {
	line-height: 150%;
	color: hsla(0, 0%, 100%, 0.75);
	padding-bottom: 10px;
	font-weight: 400;
}
.stat {
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 0.6);
	font-family: "Lexend Deca";
	padding: 10px;
}
.stat p:first-of-type {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	font-weight: 700;
	padding-bottom: 5px;
}

@media screen and (min-width: 960px) {
	.card {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		width: 80%;
	}
	.img {
		flex-basis: 50%;
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.details {
		flex-basis: 50%;
		text-align: left;
		justify-content: space-evenly;
		padding-right: 50px;
	}
	.stats {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
